:root {
  --yellow-100: #fff399;
  --yellow-200: #ffe100;
  --white: #fffff4;
  --black: #333333;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  --font-family: "Inter", sans-serif;
  --text-regular: 400;
  --text-bold: 600;
  --text-xs: 10px;
  --text-sm: 12px;
  --text-md: 16px;
  --text-lg: 20px;
  --text-xl: 24px;
  --line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-weight: var(--text-regular);
  color: var(--black);
  background-color: var(--white);
  line-height: var(--line-height);
}

.bold {
  font-weight: var(--text-bold);
}

.text-center {
  text-align: center;
}

.bg-yellow-100 {
  background-color: var(--yellow-100);
}

.icon {
  width: 24px;
  height: 24px;
}

.header {
  background-color: var(--yellow-200);
  font-size: var(--text-sm);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xs) var(--spacing-md);
}

.menu {
  display: flex;
  gap: var(--spacing-lg);
  list-style: none;
}

.menu a,
.menu a:visited {
  text-decoration: none;
  color: inherit;
}

.menu a:hover {
  text-decoration: underline;
}

.card {
  width: 100%;
  padding: var(--spacing-md);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  background-image: url("/assets/hero.jpg");
  background-color: var(--white);
  height: 200px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 !important;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 50%;
  position: absolute;
  z-index: 1;
}

.hero-title {
  z-index: 2;
  color: var(--white);
  padding: var(--spacing-md);
  max-width: 90%;
}

.footer {
  background-color: var(--yellow-200);
  font-size: var(--text-sm);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-md);
}

@media screen and (min-width: 1024px) {
  .icon {
    width: 30px;
    height: 30px;
  }

  .header {
    font-size: var(--text-md);
  }

  .menu {
    gap: var(--spacing-xl);
  }

  .card {
    padding: var(--spacing-xl);
  }

  .hero-title p {
    font-size: var(--text-lg);
  }

  .footer {
    font-size: var(--text-md);
    padding: var(--spacing-xl);
  }
}
