:root {
  --yellow-100: #fff399;
  --yellow-200: #ffe100;
  --white: #fffff4;
  --black: #252525;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  --font-family: "Inter", sans-serif;
  --text-regular: 400;
  --text-bold: 600;
  --text-xs: 10px;
  --text-sm: 12px;
  --text-md: 16px;
  --text-lg: 20px;
  --text-xl: 24px;
  --line-height: 1.5;

  --border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-weight: var(--text-regular);
  color: var(--black);
  background-color: var(--white);
  line-height: var(--line-height);
}

.bold {
  font-weight: var(--text-bold);
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.bg-yellow-100 {
  background-color: var(--yellow-100);
}

.bg-yellow-200 {
  background-color: var(--yellow-200);
}

.bg-white {
  background-color: var(--white);
}

.icon {
  width: 24px;
  height: 24px;
}

.header {
  background-color: var(--yellow-200);
  font-size: var(--text-sm);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xs) var(--spacing-md);
}

.menu {
  display: flex;
  gap: var(--spacing-lg);
  list-style: none;
}

.menu a,
.menu a:visited {
  text-decoration: none;
  color: inherit;
}

.menu a:hover {
  text-decoration: underline;
}

.section {
  width: 100%;
  padding: var(--spacing-xl) var(--spacing-md);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  justify-content: center;
  align-items: center;
}

.section * {
  max-width: 1200px;
}

.hero {
  background-image: url("/assets/hero.jpg");
  background-color: var(--white);
  height: 200px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 !important;
  position: relative;
}

.overlay {
  width: 100%;
  max-width: none;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  z-index: 1;
}

.hero-title {
  z-index: 2;
  color: var(--white);
  padding: var(--spacing-md);
  max-width: 90%;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  justify-content: center;
  align-items: center;
}

.card {
  padding: var(--spacing-md) var(--spacing-lg);
  box-shadow: 0 3px 4px 2px #00000025;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  max-width: 300px;
}

.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  width: 100%;
  max-width: 400px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.input input,
.input textarea {
  background-color: transparent;
  font-size: var(--text-md);
  padding: var(--spacing-sm) var(--spacing-xs);
  color: var(--black);
  border: 1px solid var(--black);
}

.button {
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--black);
  color: var(--yellow-200);
  font-size: var(--text-lg);
  width: fit-content;
  padding: var(--spacing-sm) var(--spacing-xl);
  box-shadow: 0 3px 4px 2px #00000025;
  cursor: pointer;
  align-self: center;
}

.button:hover {
  opacity: 0.85;
  transition: opacity 0.2s ease;
}

.footer {
  background-color: var(--yellow-200);
  font-size: var(--text-sm);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-md);
}

@media screen and (min-width: 760px) {
  .icon {
    width: 30px;
    height: 30px;
  }

  .header {
    font-size: var(--text-md);
  }

  .menu {
    gap: var(--spacing-xl);
  }

  .section {
    padding: var(--spacing-xl);
  }

  .hero-title p {
    font-size: var(--text-lg);
  }

  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    max-width: 350px;
  }

  .footer {
    font-size: var(--text-md);
    padding: var(--spacing-xl);
  }
}
