:root {
  --yellow-100: #fff399;
  --yellow-200: #ffe100;
  --white: #fffff4;
  --black: #333333;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  --font-family: "Inter", sans-serif;
  --text-regular: 400;
  --text-bold: 600;
  --text-xs: 10px;
  --text-sm: 12px;
  --text-md: 16px;
  --text-lg: 20px;
  --text-xl: 24px;

  font-family: var(--font-family);
  font-weight: var(--text-regular);
  color: var(--black);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bold {
  font-weight: var(--text-bold);
}

.icon {
  width: 24px;
  height: 24px;
}

.header {
  background-color: var(--yellow-200);
  font-size: var(--text-sm);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xs) var(--spacing-md);
}

.menu {
  display: flex;
  gap: var(--spacing-lg);
  list-style: none;
}

.menu a,
.menu a:visited {
  text-decoration: none;
  color: inherit;
}

.footer {
  background-color: var(--yellow-200);
  font-size: var(--text-sm);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-md);
}

@media screen and (min-width: 1024px) {
  .icon {
    width: 30px;
    height: 30px;
  }

  .header {
    font-size: var(--text-md);
  }

  .menu {
    gap: var(--spacing-xl);
  }

  .footer {
    font-size: var(--text-md);
    padding: var(--spacing-xl);
  }
}
